

[
 :html-file { :filename "navigation.html" :home-active "active" }

 :html-hiccup [:div
               [:h1 "Roadmap" ]
               [:h3 "TODO"]
               [:ul
                [:li "multipage mode - scan input for .edn files - presume those are pages"]
                [:li "multipage mode - expose input page name base in context - and push that to selmer"]
                [:li "show code and/or edn via :code/:code-file chunk type - use highligher.js"]
                [:li "consider aliases, for example " [:code ":bootstrap 3"] " adds a boostrap thing from ~/.explainer-aliases and/or have built-in aliases."]
                [:li "create video demoing explainer - kind of the ultimate fail for something which is supposed to explain things, but videos work."]
                [:li "credits and related work"]
                ]
               

               [:h3 "Perhaps / Maybe / Ideas"]
               [:ul
                [:li ":plantuml - aka the inline version"]
                [:li "allow to validate their data (ie. does file exist)"]
                [:li "allow chunks to make 'single' contribution to page header (or footer) - for loading js libraries" ]
                [:li "consdier :code-clj-eval and :code-clj-eval-file" ]
                [:li "often tables of things"]
                [:li "Better error handling - indicate where the issue is (right now there is a blanket something went wrong)"]
                [:li "consider using jtidy to clean up output"]
                [:li "consider indenting the input doc.edn "]]]

 :html "</div></html>"]
