
[
 :html "<link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous'><div style='padding: 30px'>"
 
 :html "<h1>Explainer - a simple program for explaining things</h1>"

 :html-hiccup [ :div
               [:br]
              [:h3 "Why would you use it?" ]

              "To generate some quick documenation about how something
              works.  There are other more complicated systems out
              there, " [ :a {:href "https://asciidoctor.org/" } "asciidoctor"] " looked cool, but also complicated." 
              
               [:br]
               [:h3 "How does it work?" ]

               [ :p
               "You create an input file (input.edn), then execute the
               'explainer' program.  It walks through each block of
               the input file and produces output for each section." ]

               [:p "For plantUML sections, the plantUML api is invoked
               and the diagram is generated."]

               [:p "For example, Using this as the 'input.edn' file," ]
               [ :div {:style "background-color: #fffacd; width: 800px; padding: 10px;" }

               [:pre
                "[ 
      :html \"&lt;h3>Authentication Example &lt;/h3>\"
      :html-hiccup [:div \"Alice authenticates via Bob.\" [:br] [:br] ] ]
      :plantuml-file \"diagram-data/diagram.pu\"
      :html \"&lt;br>&lt;br>A dot example&lt;br>\"
      :dot-file \"diagram-data/figure.dot\"
]" ]
                ]

               [:br]
               "The following output is generated;"
               [:br]
               [:br]
               ]

 :html "<div style='background-color: #fffacd; padding:10px; width: 800px;'>"
 :html "<h3>Authentication Example</h3>"
 :html-hiccup [:div "Alice authenticates via Bob." [:br] [:br] ]
 :plantuml-file "diagram-data/diagram.pu"
 :html "<br><br>A dot example<br>"
 :dot-file "diagram-data/figure.dot"
 :html "<br></div>"


 :html-hiccup [:div
               [ :br ]
               [ :h3 "How is it limited?"]
               [ :ul
                [ :li "It does not watch the file system and regenerate as inputs are updated." ]
                [ :li "It does not auto reload the browsers contents." ]
                ]
               [ :br ]
               [ :h3 "Example usage from inside project" ]
               [ :div "This page is build via explainer - dog fooding."]
               [ :pre
                "$ git clone https://github.com/bherrmann7/explainer.git \n"
                "$ clj -X:run-x && google-chrome docs/index.html"
                ]
               [ :h3 "Install as local command" ]
               [ :div "The install script puts 2 files in $HOME/bin.  1) creates a shell executable named 'explainer' 2) the uberjar used by the script." ]
               [ :pre
                "$ ./install.sh # installs to $HOME/bin/explainer \n"
                "$ mkdir ~/cow && cd ~/cow \n"
                "$ echo ' [ :html \"&lt;h1>Goose&lt;/h1>\" ] ' > input.edn \n"
                "$ explainer && google-chrome docs/index.html  "
                ]
               ]

 :html "Cheers!<br>-bob </div>"
 ]




