<!doctype html>
<html lang='en'>
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<style>
.ex {
  background-color: #cdeefd;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}
.ex-block {
  background-color: #cdeefd;
  margin: 15px;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}</style>

<nav class='navbar navbar-expand-lg' style='background-color: #cdeefd;'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='index.html'>Explainer</a>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        <li class='nav-item'>
          <a class='nav-link ' aria-current='page' href='index.html'>Home</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link ' href='quick-start.html'>Quick Start</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link ' href='chunk-types.html'>Chunk Types</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link ' href='watch.html'>Watch</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link {cli-active}}' href='cli.html'>CLI</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link active' href='roadmap.html'>Roadmap</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link ' href='example.html'>Example</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='https://github.com/bherrmann7/explainer'>Github Site</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div style='padding: 30px'>



<div><br /><h2>Chunk Types</h2><h4>:html</h4>A raw html section.  The gold standard for displaying content in a browser.<br /><span class="ex">:html "&lt;b>cat&lt;/b>"</span><h4>:html-hiccup</h4>Hiccup is a representation of html in clojure's edn format<br /><span class="ex">:html-hiccup [:h1 "cat" ]</span><h4>:html-file</h4>Display separate html file, and use the <a href='https://github.com/yogthos/Selmer'>Selmer</a> project templates. (ie html file contains; Hello {{name}}) <br /><span class="ex">:html-hiccup [:html-file { :filename "test.html" :name "John" } ]</span><h4>:js-file</h4>Inserts a js file at the current location in the document<br /><span class="ex">:js-file "myjs.fo"</span><h4>:plantuml-file</h4>Describes the chunk as a plantuml diagram.  The argument of the chunk type is the file.  The file contains a plantuml text input for a diagram.  explainer uses the plantuml library to generate the image and inserts the html to render the image on the page<br /><span class="ex">:plantuml-file "alice-bob.pu"</span><h4>:dot-file</h4>A dot file is a variation on the plantuml-file.  The input is a graphvis file. See <a href="https://renenyffenegger.ch/notes/tools/Graphviz/examples/index">Graphvis (dot) examples</a> and <a href="https://graphviz.org/">https://graphviz.org/</a><br /><span class="ex">:dot-file "figure.dot"</span><h4>:resource</h4>Resource file needed for a page.  Typically a png or
jpg file which is referenced in the :html or :html-provider.  This is
needed to tell explainer to copy the resource from the input directory
to the output directory<br /><span class="ex">:resource "cat.jgp"</span><h4>:swagger-file</h4>Provide a swagger yaml-file and it inserts the API<br /><span class="ex">:swagger-file  "my-swagger-file.yml"</span><h4>:markdown</h4>Provide markdown in the document. You can experiment with markdown at <a href="https://rawgit.com/yogthos/markdown-clj/master/demo/markdown.html">Yogthos markdown site</a><br /><span class="ex">:markdown-file  "# Boo
Halloween involves candy.</span><h4>:markdown-file</h4>Provide a markdown file and insert it's contents as html<br /><span class="ex">:markdown-file  "my-markdown-file.md"</span></div>

</div></html>